.ulcombined {
    list-style-type: square; 
}

.taskforce {
    /* display: none; */
}

.active {
    display: block;
}

.react-tabs__tab-list li {
    display: inline-block;
    margin-right: 5px;
}

.react-tabs__tab-list{
    margin: 0;
    padding: 0;
}